<?xml version="1.0" encoding="utf-8"?>
<manifest package="baidu.com.testlibproject"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UiTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestAutoCompleteTvActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestGridViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestSpinnerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestToastActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DateTimePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SearchViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PopupWindowActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestActionBarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConfigurationTest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intent.IntentTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.TelephonyMgrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.SmsMgrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.AudioMgrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.VibratorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sensor.CompassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sensor.LocationMgrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name=".data.DataBaseProvider"
            android:authorities="baidu.com.testlibproject.db.provider"
            android:exported="false"
            android:process=":bkg" />

        <service
            android:name=".service.MainService"
            android:exported="false"
            android:process=":bkg" />

        <activity
            android:name=".sensor.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plugin.PluginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plugin.ProxyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConstrainLayoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.VideoViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SurfaceViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ImageSpanActivity">
        </activity>
    </application>

</manifest>